<div id="smoothslides" class="smoothslides">
    <?php foreach ($block->getSlides() as $slide) : ?>
            <div class="item"><?php echo $slide; ?></div>
    <?php endforeach; ?>
</div>
<script>
    require(['jquery', 'smoothslides'], function ($) {
        $(document).ready(function() {
            $('#smoothslides').smoothSlides({
                <?php echo $block->getSliderOptions(); ?>
            });
        });
    });
</script>